.wrapper {
  padding: 50px 0;
  font-family: 'Nunito', sans-serif;
}

.menu-summary {
  background: #F8F8F8;
  padding: 30px 0;
}

.dietary {
  font-size: 10pt;
  border-radius: 100%;
  background: #A0C9CD;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  width: 26px;
  height: 26px;
  text-align: center;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: #FFF;
}

.menu-summary-left {
  font-weight: bold;
}
.menu-summary-right {
  text-align: right;
}

.menu-builder {
  margin: 50px 0;
}

.item-picker {
  background: #F8F8F8;
  padding: 20px;
  list-style: none;
  margin: 0;
  height: 500px;
  overflow: scroll;
  border-radius: 5px;
}

.menu-preview {
  padding: 20px;
  list-style: none;
  margin: 0;
}

li.item {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.1s ease;
}

.item-picker .item:hover {
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

li.item:last-of-type {
    margin-bottom: 0;
}

li.item h2 {
  font-size: 12pt;
}

li.item p {
  margin: 0;
}

button.remove-item {
  position: absolute;
  top: -13px;
  right: -13px;
  -webkit-appearance: none;
  border: 2px solid #000;
  background: #FFF;
  font-weight: bold;
  width: 26px;
  height: 26px;
  line-height: 0px;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  transition: 0.1s ease;
}

button.remove-item:hover {
  background: #000;
  color: #fff;
}

button.remove-item:focus {
  outline: none;
}
